/* Stylize the page */
body
{
	margin: 0;
	padding: 0;
	background-color:#808080;
	background-image: url(./../img/iPadBackgroundTexture-brown.png);
	background-repeat: repeat;
}

/* The margin's "auto" for left and right sides is what centers the div. */
#pageconstraint {
	width:900px;
	margin: 10px auto 10px auto;
	position: relative;
	border: 1px solid #333333;
	color: #333333;
	font-family: sans-serif;
	font-size: 1em;
}

/* The 3 attributes related to height are to making the div *at least* that tall, but grow if it needs to.
   See http://www.reignwaterdesigns.com/ad/tidbits/hacks/minimum_height_in_css.shtml
*/
#header {
	padding: 20px;
	spacing: 20px
    border-bottom: 2px solid #333333;
	vertical-align:text-top;    
	background-color: #1F75F1;
	color: #FFFFFF;
	/*height: 30px;*/
	line-height: 50%;
}

#reportTitle {
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
	font-family: sans-serif;	
}

#reportDesc {
	font-size: 18px;
	padding-left: 40px;
}

#content {
	padding: 15px;
	background-color: #ECE9D8;
}

/*Th styles below are for the forms.
  The typical way to do forms is float:left and float:right, but the drawback to floats is the
  need to clear them afterward to prevent content from floating up and appearing next to it.
  Good article about it:
  http://www.sitepoint.com/give-floats-the-flick-in-css-layouts/

  I use a "block" for the fieldset to prevent other content from lining up to the right of it; I want the fieldset to have its own line.
*/

fieldset
{
	display: block;
	width: 800px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

label 
{
  display: inline-block;  
  width: 5em;
  text-align: right;
  margin-right:10px;
}

input[type=text] 
{
  display: inline-block;
  width: 10em;
}

h1
{
	font-size: 1em;
}



/* These are for the modal */
#fade {
	display: none;
	position:absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #ababab;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .70;
	filter: alpha(opacity=80);
}

#modal {
	display: none;
	position: absolute;
	top: 45%;
	left: 45%;
	width: 100px;
	height: 100px;
	border: 3px solid #ababab;
	box-shadow:1px 1px 10px #ababab;
	border-radius:20px;
	background-color: white;
	z-index: 1002;
	text-align:center;
	overflow: auto;
}

.forCustomSelectors {
    width: 230px;
}

#btnGetData {
	/* Start off with this button hidden until I get everything set up, so they can't accidentally click it before I'm ready. */
	display: none;
}

/* override the default Selectize style where it's a regular div that starts on a new line */
.selectize-control {
    display: inline-block;
    vertical-align: middle;
	width: 230px;
}